.accounts{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 5.0rem 0;
}

.form{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 5.0rem 0;
}

.form input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 2.0rem;
}

.form textarea{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 2.0rem;
}

.accounts ul li{
    margin: 0.6rem 0;
}

#contact-form{
    
    justify-content: center;
}