nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height : 7rem;
    background-color: rgb(231, 226, 226);
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    font-weight: bold;
    list-style: none;
    margin: 0 2.3rem;
    font-size: 2vw;
}

li:hover {
    font-size:3.6vw;
}


.content-body{
    display: flex;
    font-size: 2.5rem;
    margin: 2.5rem 2.5rem;
    color: rgb(0, 0, 0);
}

.content-heading{
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    margin: 2.5rem 2.5rem;
    color: rgb(0, 0, 0);
}

a:visited{
  font-size: 10 vw;
  background-color: transparent;
  text-decoration : none;
  color: rgb(0, 0, 0);
}

a:link{
    font-size: 3 rem;
    background-color: transparent;
    text-decoration : none;
    color: rgb(0, 0, 0);
}

a:active {
    font-size: 3 rem;
    background-color: transparent;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.image{
    display:flex;
    justify-content: center;
    size : 5rem;
    border : dotted dotted solid
}

.image img{
    width: 25%;
    max-width: 100%;
    height: auto;
}

.content-heading h4{
    overflow: hidden; 
    border-right: .15em solid rgb(10, 8, 8); 
    white-space: nowrap; 
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 1s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 65% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0); }
  }